<section class="container-fluid">
    <div class="row mt-1">
        <div class="col-12" >
        <div class="container-img d-flex justify-content-center align-items-center">
       
           <div class=" container p-4 semcor ">
            <img  class="animate__animated animate__fadeInLeft" src="../../../assets/logoSemcor.png" alt="">
            <h1 class="title-semcor ">
                <!-- Grupo <span style="color:#920033 ;">Semcor</span> -->
            </h1>
            <span class="subtitle-semcor animate__animated animate__fadeInLeft">Servicios de especialidades médicas del <span style="color:#920033 ; font-weight: 600;">corazón</span></span>
           </div> 
        </div>
    </div>
    </div>
</section>

<div class="container">
    <section class="what-us  mt-5">
        <div class="row">
            <div class="col-12">
                <div class="title text-center">
                    <h1>
                        CUIDAMOS <span>TU SALUD</span>
                    </h1>
                    <div class="container-subtitle">
                        <h3>
                            Es nuestro compromiso con el bienestar, ofrecemos un servicio integral donde tu salud es nuestra prioridad. Con un enfoque humano y profesional, estamos dedicados a brindarte la mayor atención médica posible.
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <!-- CAJAS IMPORTANTE -->
            <div class="col-sm-12 col-md-4 col-xl-4">
                <div class="container mt-2">
                    <div class="item-us  p-2">
                        <div class="row mt-2 mb-2">
                            <div class="col-12">
                                <img src="../../../assets/time.png" alt="">
                            </div>
                        </div>
                        <div class="box-text">
                            <h6>
                                Atención 24/7
                            </h6>
                            <p>
                            Sabemos que las necesidades médicas no conocen horarios. Por eso, nuestra <strong>LineaRoja</strong> 
                            está disponible las 24 horas del día, los 7 días de la semana,
                            garantizandote que siempre habrá un equipo de profesionales listos para asistirte
                             en cualquier momento que lo necesites.</p>
                        </div>
                        <div class="info-service">
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-xl-4">
                <div class="container mt-2">
                    <div class="item-us  p-2">
                        <div class="row mt-2 mb-2">
                            <div class="col-12">
                                <img src="../../../assets/esteto.png" alt="">
                            </div>
                        </div>
                        <div class="box-text">
                            <h6>
                                Especialistas Calificados
                            </h6>
                            <p>
                                Contamos con un equipo de especialistas altamente cualificados y en constante formación.
                                Nuestros expertos en salud están equipados con el conocimiento y la tecnología más avanzada
                                para ofrecer diagnosticos precisos y tratamientos efectivos.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-xl-4">
                <div class="container mt-2">
                    <div class="item-us  p-2 ">
                        <div class="row mt-2 mb-2">
                            <div class="col-12">
                                <img src="../../../assets/heart.png" alt="">
                            </div>
                        </div>
                        <div class="box-text">
                            <h6>
                                Atención del paciente
                            </h6>
                            <p>
                                Entendemos que cada paciente es único. Por ello, ofrecemos una atención personalizada y centrada en el paciente, 
                                asegurandose que se sienta escuchado, cuidado y respetado en cada paso de su tratamiento.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-5">
                <div class="text-important container text-center p-2 d-flex justify-content-center align-items-center">
                    <h2>
                        ¡EN TODO MOMENTO TÚ SALUD ES IMPORTANTE PARA NOSOTROS!
                    </h2>
                </div>
            </div>
        </div>
    </section>
    <section class="semcor-run mt-5">
        <div class="row">
            <div class="col-12">
                <div class="title">
                    <div class="container-title-img">
                        <h1>
                         Únete a 
                        </h1>
                        <img src="../../../assets/semcor-run/semcorrun.png" >
                    </div>
                   <p class="subtitle-run">
                    <!-- Únete a nosotros en nuestra carrera benéfica anual para apoyar la salud del corazón. Puedes registrarte aquí</p> -->
                </div>
            <div class="row mt-5">
                <div class="col-sm-12 col-md-6 col-xl-6 mb-5">
                    <div class="register-run w-100 h-100 d-flex justify-content-center align-items-center flex-column mb-5">
                        <div class="container-month">
                            <h5 class="month">
                                SEPTIEMBRE
                            </h5>
                            <h5 class="heart-month">MES DEL CORAZÓN</h5>
                            <span>
                                Únete a nosotros en nuestra carrera benéfica anual para apoyar la salud del corazón.
                            </span>
                        </div>
                    </div>

                </div>
                <div class="col-sm-12 col-md-6 col-xl-6">
                    <div class="register-container container h-100 d-flex justify-content-center align-items-center flex-column">
                        <img src="../../../assets/semcor-run/runner10k.png">
                        <h5>Puedes registrarte aquí</h5>
                        <div class="border-button">
                            <button class="btn" (click)="goToSemcorRun()">¡ Registrate !</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <section class="services mt-5">
        <div class="row">
            <div class="col-12">
                <div class="title">
                    <!-- Nuestros servicios -->
                    <h3>Nuestros servicios</h3>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-sm-12 col-md-4 col-xl-4">
                <div class="container mt-2">
                    <div class="item-services  p-2">
                        <div class="row mt-2 mb-2">
                            <div class="col-12">
                                <img src="../../../assets/esteto.png" alt="">
                            </div>
                        </div>
                        <div class="box-text">
                            <h6>
                                Línea Roja
                            </h6>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi sapiente non ipsa doloremque! Optio, sunt? Perf
                            </p>
                        </div>
                        <div class="info-service">
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-xl-4">
                <div class="container mt-2">
                    <div class="item-services  p-2">
                        <div class="row mt-2 mb-2">
                            <div class="col-12">
                                <img src="../../../assets/esteto.png" alt="">
                            </div>
                        </div>
                        <div class="box-text">
                            <h6>
                                Semcor Lab
                            </h6>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi sapiente non ipsa doloremque! Optio, sunt? Perf
                            </p>
                        </div>
                        <div class="info-service">
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-xl-4">
                <div class="container mt-2">
                    <div class="item-services  p-2">
                        <div class="row mt-2 mb-2">
                            <div class="col-12">
                                <img src="../../../assets/esteto.png" alt="">
                            </div>
                        </div>
                        <div class="box-text">
                            <h6>
                                Citas con especialistas
                            </h6>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi sapiente non ipsa doloremque! Optio, sunt? Perf
                            </p>
                        </div>
                        <div class="info-service">
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
</div>

