<div class="container">
    <section class="what-us  mt-5">
        <div class="row">
            <div class="col-12">
                <div class="title">
                    <h3>
                        Nos importas!
                    </h3>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <!-- CAJAS IMPORTANTE -->
            <div class="col-sm-12 col-md-4 col-xl-4">
                <div class="container mt-2">
                    <div class="item-us  p-2">
                        <div class="row mt-2 mb-2">
                            <div class="col-12">
                                <img src="../../../assets/time.png" alt="">
                            </div>
                        </div>
                        <div class="box-text">
                            <h6>
                                Atención 24/7
                            </h6>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi sapiente non ipsa doloremque! Optio, sunt? Perf
                            </p>
                        </div>
                        <div class="info-service">
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-xl-4">
                <div class="container mt-2">
                    <div class="item-us  p-2">
                        <div class="row mt-2 mb-2">
                            <div class="col-12">
                                <img src="../../../assets/esteto.png" alt="">
                            </div>
                        </div>
                        <div class="box-text">
                            <h6>
                                Especialistas
                            </h6>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi sapiente non ipsa doloremque! Optio, sunt? Perf
                            </p>
                        </div>
                        <div class="info-service">
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-xl-4">
                <div class="container mt-2">
                    <div class="item-us  p-2 ">
                        <div class="row mt-2 mb-2">
                            <div class="col-12">
                                <img src="../../../assets/heart.png" alt="">
                            </div>
                        </div>
                        <div class="box-text">
                            <h6>
                                Cuidado del paciente
                            </h6>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi sapiente non ipsa doloremque! Optio, sunt? Perf
                            </p>
                        </div>
                        <div class="info-service">
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="run mt-5">
        <div class="row">
            <div class="col-12">
                <div class="title">
                   <h3>
                    Únete a SEMCOR<span>RUN</span>
                   </h3>
                   <p class="subtitle-run">
                    Únete a nosotros en nuestra carrera benéfica anual para apoyar la salud del corazón. Puedes registrarte aquí</p>
                </div>
            <div class="row">
                <div class="col-12">
                    <div class="register-run container">
                        <div class="row">
                            <div class="col-sm-12 col-md-4 col-xl-4">
                                <div class="container mb-2">
                                    <img src="../../../assets/bulb.png">
                                </div>
                               <div class="container run-text">
                                <h4>
                                    Carrera del corazón
                                </h4>
                                <p>
                                    Apoya una buena causa y manténgase saludable. 
                                </p>
                               </div>
                            </div>
                            <div class="col-sm-12 col-md-8 col-xl-8 d-flex  align-items-center col-button ">
                                <div class="container d-flex  align-items-center col-button">
                                    <a
                                        (click)="goToSemcorRun()"
                                        class="btn btn-register"
                                        role="button"
                                        >Registrate!</a
                                    >
                                </div>
                                
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </section>



    <section class="services mt-3">
        <div class="row">
            <div class="col-12">
                <div class="title">
                    <!-- Nuestros servicios -->
                </div>
            </div>
        </div>
    </section>
</div>
