<!-- Hero Section -->
<app-hero (heroAction)="handleHeroAction($event)"></app-hero>

<div>
  <!-- Health Care Section -->
  <app-health-care (valueAction)="handleHealthcareValueAction($event)"></app-health-care>
  
  <!-- Features Section -->
  <app-features (featureAction)="handleFeatureAction($event)"></app-features>
  
  <!-- Jornada Científica Section -->
  <app-semcor-run (registrationAction)="handleScientificConferenceAction($event)"></app-semcor-run>
  
  <!-- Services Section -->
  <app-services (serviceAction)="handleServiceAction($event)"></app-services>
  
  <!-- With You Section -->
  <app-with-you (cardInteraction)="handleWithYouInteraction($event)"></app-with-you>
</div>

