<nav class="d-flex justify-content-between">
    <span class="logo" style="position: relative; width: 100px;"><img src="../../../../assets/lineaRoja.png" style="width: 100%;"></span>
    <ul class="d-flex justify-content-center align-items-center">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Acerca de</a></li>
        <li><a href="#">SEMCOR LAB</a></li>
        <li ><a class="heart" href="#">LINEA ROJA</a></li>
        <li><a class=" contact ">Carrera del corazón</a></li>
    </ul>
</nav>
