<footer>
    <section class="services">
        <!-- <div class="container footer-container w-100">
            <span class="test">Servicios</span>
            <span>Acerca de</span>
            <span>SemcorLab</span>
            <span>Linea Roja</span>
        </div> -->
    </section>
    <section>
        <div class="container-socials">
            <div class="social-icons">
                <img src="../../../../assets/socials/facebook.png" alt="">
                <img src="../../../../assets/socials/instagram.png" alt="">
                <img src="../../../../assets/socials/twitter.png" alt="">
            </div>
            <div>
                <h3>
                    © 2024 Grupo Semcor
                </h3> 
            </div>
        </div>
    </section>
</footer>